.gridcontainer {
   
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 50px;
    @include phone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
                             "main"
                             "aside"
                             "footer";

    }
    @include phonesmall {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
                             "main"
                             "aside"
                             "footer";

    }
    @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header"
                             "main main"
                             "aside aside"
                             "footer footer";
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header"
                             "main main"
                             "aside aside"
                             "footer footer";
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header header"
                             "main main main"
                             "aside aside aside"
                             "footer footer footer";
    }

   

    grid-template-areas: "header header header "
        "main   main    aside "
        "main   main    aside "
        "footer footer footer "

    

  
}