.h1__prod {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    color: #293a8c;

    @include phone {
        display: block;
        margin-left: 20px;

    }

}

.container {
    display: flex;
    @include phonesmall {
        display: block;
        margin-left: 50px;
    }
}

